# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
DATABASE_USER="username"
DATABASE_PASSWORD="password"
DATABASE_NAME="mydb"
DATABASE_HOST="localhost"
DATABASE_PORT=5432

# Client base URL for CORS configuration and other uses
CLIENT_BASE_URL="http://localhost:5173"

# use openssl rand -base64 32 to generate two different secrets
ACCESS_JWT_SECRET="your_access_jwt_secret"
REFRESH_JWT_SECRET="your_refresh_jwt_secret"
REFRESH_TOKEN_TTL=86400
ACCESS_TOKEN_TTL=900
SALT_ROUNDS=2
